*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	height: 100%;
}

.wrap{
	position: relative;
	min-height: 100%;
}

.back1{
    width: 100%;
    max-width: 960px;
    margin: auto;
    padding: 0 15px;
	background: #ddeaeed9;
	overflow: hidden;
}

header{
	background: #eef5f7;
	position: relative;
	overflow: hidden;
}

.back2{
    width: 100%;
    max-width: 960px;
    margin: auto;
    padding: 0 15px;
	background: #fad8df;
	overflow: hidden;
}

.back3{
    width: 100%;
    max-width: 960px;
    margin: auto;
    padding: 12px 15px;
	background: #ddeaeed9;
	overflow: hidden;
}
header .logo, footer .logo{
	display: block;
	max-width: 225px;
	max-height: 80px;
	height: 100%;
	width: 100%;
	float: left;
}

.logo img{
	width: 90%;
}

header nav{
	float: right;
	margin: 10px 113px;
}

header nav li{
	display: inline-block;
	padding: 10px;
	color: black;
}

header nav li a{
	color: black;
	text-decoration: none;
	font-family: Brush Script MT, Brush Script Std, cursive;
	font-size: 22pt;
}

header nav li:hover a{
	font-size: 23pt;
}

.wrapper{
	background: #f7e6eb;
}

main{
	margin: 15px 0;
	padding-bottom: 130px;
}

main h3{
	font-family: Brush Script MT, Brush Script Std, cursive;
	margin: 30px 0 -40px 90px;
	font-size: 22pt;
}

main h2{
	font-family: Brush Script MT, Brush Script Std, cursive;
	margin: -20px 0 -38px 494px;
	font-size: 26pt;
}

main p{
	line-height: 115%;
	margin: 60px 0;
	font-family: Times, Times New Roman, serif;
}
.img1{
	width: 186px;
	height: 175px;
	float: left;
	margin: 10px 19px 25px 0;
}

.img2{
	width: 200px;
	height: 200px;
	float: right;
	margin: -4px 0px 8px 25px;
}

.content{
	max-width: 1200px;
	width: 100%;
	padding: 0 45px;
	margin: 0 auto;
	text-align: justify;
}

footer{
	background: #eef5f7;
	position: absolute;
	width: 100%;
	min-height: 118px;
	bottom: -6px;
}

.footer__row > *, .footer__section_menu nav{
	float: left;
}

.footer__section_contact{
	float: right;
}

.footer__section_menu{
	margin: 0 15%;
}

.footer__section_menu nav{
	margin: 0px 10px;
	font-family: Brush Script MT, Brush Script Std, cursive;
}

.footer__section_menu nav li a{
	text-decoration: none;
	font-size: 21px;
	color: black;
}

