*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	height: 100%;
}

.wrap{
	position: relative;
	min-height: 100%;
}

.back1{
    width: 100%;
    max-width: 960px;
    margin: auto;
    padding: 0 15px;
	background-color: #ddeaee;
	overflow: hidden;
}

header{
	background: #eef5f7;
	position: relative;
	overflow: hidden;
}

.back2{
    width: 100%;
    max-width: 960px;
    margin: auto;
    padding: 105px 15px;
	background: #fad8df;
	overflow: hidden;
}

.back3{
    width: 100%;
    max-width: 960px;
    margin: auto;
    padding: 12px 15px;
	background-color: #ddeaee;
	overflow: hidden;
}
header .logo, footer .logo{
	display: block;
	max-width: 225px;
	max-height: 80px;
	height: 100%;
	width: 100%;
	float: left;
}

.logo img{
	width: 90%;
}

header nav{
	float: right;
	margin: 10px 113px;
	display: inline-block;
	padding: 10px;
	color: black;
}

header nav  a{
	color: black;
	padding: 7px;
	text-decoration: none;
	font-family: Brush Script MT, Brush Script Std, cursive;
	font-size: 22pt;
}

header nav :hover{
	font-size: 23pt;
}

.wrapper{
	background: #f7e6eb;
}

main{
	margin: 15px 0;
	padding-bottom: 130px;
}

main h3{
	font-family: Brush Script MT, Brush Script Std, cursive;
	margin: -55px 0 -40px 90px;
	font-size: 22pt;
}

main h2{
	font-family: Brush Script MT, Brush Script Std, cursive;
	margin: -20px 0 -38px 94px;
	font-size: 22pt;
}

main p{
	line-height: 115%;
	margin: 60px 0;
	font-family: Times, Times New Roman, serif;
}
.img1{
	width: 186px;
	height: 175px;
	float: left;
	margin: 10px 19px 25px 0;
}

.img2{
	width: 200px;
	height: 200px;
	float: right;
	margin: -4px 0px 8px 25px;
}

.content{
	max-width: 1200px;
	width: 100%;
	padding: 0 45px;
	margin: 0 auto;
	text-align: justify;
}

footer{
	background: #eef5f7;
	position: absolute;
	width: 100%;
	min-height: 118px;
	bottom: -6px;
}

.footer__section_contact{
	float: right;
}

.footer__section_menu{
	margin: 0 15%;
}

.footer__section_menu nav{
	padding-left: 200px;
	font-family: Brush Script MT, Brush Script Std, cursive;
}

.footer__section_menu nav a{
	text-decoration: none;
	margin: 30px;
	font-size: 21px;
	color: black;
}

/* View for mobile device(Tablet) */
@media (max-width: 768px){
    header nav{
        width: 550px;
    }

    /* .footer__section_menu nav {
        margin: 20px 30px;
    } */
}

@media (orientation: Landscape) and (max-width: 667px){
    header nav{
        width: 480px;
    }

    .footer__section_menu nav{
        margin: unset;
    }

    
}

/* Landscape orientation (Smatphone) */
@media (orientation: Landscape) and (max-width: 640px){
    header nav{
        width: 450px;
    }

    .footer__section_menu nav{
        margin: unset;
    }

    .footer__section_menu nav a{
        margin-left: 80px;
    }

    
}



@media (orientation: portrait) and (max-width: 375px){
    header .logo{
        position: relative;
        left: 35%;
    }

    header nav{
        width: 100%;
        top: unset;
        left: unset;
    }

    header nav a{
        width: 60px;
        
    }

    header nav a:hover{
        background-color: unset;
    }

    .footer__section_menu nav{
        margin: 2px;
        padding-left: unset;
        padding: unset;
    }

    .img1{
        position: relative;
        left: 5%;
    }
    .img2{
        position: relative;
        float:left;
        
    }

    main .content h2{
        text-align: center;
    }

    footer .content{
        height: 100px;
    }

    .footer__section_menu nav a{
        margin-left: 15px;
    }

}






/* View for mobile device(smartphone). Orientation - Portrait */
@media (max-width: 360px)  
    and (orientation: portrait){
    

    .img1{
        position: relative;
        margin-left: 5%;
    }
    .img2{
        position: relative;
        float:left;
        
    }

    main .content h2{
        text-align: center;
    }

    header nav{
        width: 100%;
        top: -1px;
        left: -1px;
    }

    

    

    .footer__section_menu nav{
        display: inline-block;
    }

    .footer__section_menu nav{
        float: none;
    }

    header .logo{
        position: relative;
        left: 35%;
    }

    header nav:hover {
        background-color: unset;
    }
}
