*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	height: 100%;
}

.wrap{
	position: relative;
	min-height: 100%;
}

.back1{
    width: 100%;
    max-width: 960px;
    margin: auto;
    padding: 0 15px;
	background-color: #ddeaee;
	overflow: hidden;
}

header{
	background: #eef5f7;
	position: relative;
	overflow: hidden;
}

.back2{
    width: 100%;
    max-width: 960px;
    margin: auto;
    padding: 105px 15px;
	background: #fad8df;
	overflow: hidden;
}

.back3{
    width: 100%;
    max-width: 960px;
    margin: auto;
    padding: 12px 15px;
	background-color: #ddeaee;
	overflow: hidden;
}
header .logo, footer .logo{
	display: block;
	max-width: 225px;
	max-height: 80px;
	height: 100%;
	width: 100%;
	float: left;
}

.logo img{
	width: 90%;
}

header nav{
	float: right;
	margin: 10px 113px;
	display: inline-block;
	padding: 10px;
	color: black;
}

header nav  a{
	color: black;
	padding: 7px;
	text-decoration: none;
	font-family: Brush Script MT, Brush Script Std, cursive;
	font-size: 22pt;
}

header nav :hover{
	font-size: 23pt;
}

.wrapper{
	background: #f7e6eb;
}

main{
	margin: 15px 0;
	padding-bottom: 130px;
}

main h3{
	font-family: Brush Script MT, Brush Script Std, cursive;
	margin: -55px 0 -40px 90px;
	font-size: 22pt;
}

main h2{
	font-family: Brush Script MT, Brush Script Std, cursive;
	margin: -20px 0 -38px 94px;
	font-size: 22pt;
}

main p{
	line-height: 115%;
	margin: 60px 0;
	font-family: Times, Times New Roman, serif;
}
.img1{
	width: 186px;
	height: 175px;
	float: left;
	margin: 10px 19px 25px 0;
}

.img2{
	width: 200px;
	height: 200px;
	float: right;
	margin: -4px 0px 8px 25px;
}

.content{
	max-width: 1200px;
	width: 100%;
	padding: 0 45px;
	margin: 0 auto;
	text-align: justify;
}

footer{
	background: #eef5f7;
	position: absolute;
	width: 100%;
	min-height: 118px;
	bottom: -6px;
}

.footer__section_contact{
	float: right;
}

.footer__section_menu{
	margin: 0 15%;
}

.footer__section_menu nav{
	padding-left: 200px;
	font-family: Brush Script MT, Brush Script Std, cursive;
}

.footer__section_menu nav a{
	text-decoration: none;
	margin: 30px;
	font-size: 21px;
	color: black;
}


@media (max-width: 768px){
    header nav{
        width: 590px;
        padding-left: 210px;
        margin-top: -60px;
	}
}
@media (orientation: Landscape) and (max-width: 667px){
    header nav{
        width: 580px;
        float: left;
        padding-left: 88px;
    }
    .footer__section_menu nav{
    	width: 580px;
    	padding-left: 130px;
    }
}


@media (orientation: Landscape) and (max-width: 640px){
    header nav{
        width: 465px;
        float: left;
        padding-left: 88px;
    }
    
}



@media (orientation: portrait) and (max-width: 375px){
    header .logo{
        max-width: 155px;
    	max-height: 59px;
    } 
    header nav{
    	width: 408px;
    	float: left;
    	padding-left: 15px;
    	margin-top: -52px;
    }  
	header nav a{
		font-size: 12pt;
		margin: -4px;
	}
	header nav:hover{
		font-size: 14pt;
		padding-left: 5px;
	}

    .img1{
        position: relative;
        width: 100px;
        height: 100px;
    }
    .content {
    	padding: 46px 0px;
    }
    main h3{
    	margin: -140px 0 -47px 55px;
    	font-size: 13pt;
    }

    .img2{
        position: relative;
        width: 100px;
        height: 100px;
    }
	.back2{
		height: 1597px;
	}
	main h2 {
    	margin: -50px 0 -47px 206px;
    	font-size: 16pt;
}
	main ul{
		padding-left: 17px;
	}

    footer .content{
    	width: 375px;
        height: 100px;
    }

    footer .logo{
        max-width: 155px;
    	max-height: 59px;
}

	.footer__section_menu nav{
	    padding-left: 85px;
}

	.footer__section_menu nav a{
	    margin: 9px;
	    font-size: 13pt;
	}
	.footer__section_contact a{
	font-size: 10pt;
	}
}




/* View for mobile device(smartphone). Orientation - Portrait */
@media (max-width: 330px) and (orientation: portrait){
    header .logo{
        max-width: 133px;
    	max-height: 48px;
    } 
    header nav{
    	width: 220px;
    	float: left;
    	padding-left: 0px;
    	margin-top: -43px;
    }  
	header nav a{
		font-size: 12pt;
		margin: -6px;
	}
	header nav:hover{
		font-size: 14pt;
		padding-left: 0px;
	}

	.back2 {
    	height: 1790px;
	}

	 footer .content{
    	width: 375px;
        height: 100px;
    }

    footer .logo{
        max-width: 133px;
    	max-height: 48px;
}

	.footer__section_menu {
		margin: 0;
}

	.footer__section_menu nav{
	    padding-left: 85px;
}

	.footer__section_menu nav a{
	    margin: 9px;
	    font-size: 12pt;
	}
	.footer__section_contact a{
	font-size: 9pt;
	}
}

  
}
